<div>

	<div> <!-- Filter Function -->
		<form class="form-inline groupInput">
		  <div class="form-group">
		    <label for="supplier">Supplier: </label>
		    <input type="text" class="form-control" id="supplier" placeholder="VWR">
		  </div>
		  <div class="form-group">
		    <label for="itemless">Item Less Than > </label>
		    <input type="text" class="form-control" id="itemless" placeholder="9">
		  </div>
		  <div class="form-group">
		  	<input class="form-control" id="itemAlert" type="checkbox">
		  	<label for="itemAlert">Item alert</label>
		  </div>
		  <button type="submit" class="btn btn-default">Filter</button>
		</form>
	</div><!-- Filter Function -->
	<br/>
	<div> <!-- Listing Function -->
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th></th>
					<th>Supplier</th>
					<th>Item</th>
					<th>Number of Items</th>
					<th>Quantity found</th>
					<th>Unit Price</th>
					<th>Note</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="val in consume.consume.data">
					<td>{{$index+1}}</td>
					<td>{{val.supplier}}</td>
					<td>{{val.item}}</td>
					<td>{{val.noItem}}</td>
					<td>{{val.quantity}}</td>
					<td>{{val.uPrice}}</td>
					<td>{{val.note}}</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div> <!-- Listing Function -->

  
</div>
